/* =========================================================
   HERO
========================================================= */

.hero {
  min-height: 100svh;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  background:
    linear-gradient(
      rgba(61,17,25,.4),
      rgba(61,17,25,.65)
    ),
    url("../images/couple-1.jpeg");

  background-size: cover;
  background-position: center;
  color: white;
}

.hero-content {
  padding: 30px;
  animation: heroReveal 2s ease;
}

.hero-small {
  letter-spacing: 6px;
  font-size: 11px;
  text-transform: uppercase;
  opacity: .9;
  margin-bottom: 30px;
}

.hero-names {
  font-family: "Great Vibes", cursive;
  font-size: clamp(75px, 20vw, 160px);
  line-height: .85;
  color: #f5d88f;
}

.hero-and {
  font-family: "Cormorant Garamond", serif;
  font-size: 32px;
  margin: 20px;
}

.hero-date {
  margin-top: 40px;
  font-family: "Cormorant Garamond", serif;
  font-size: 21px;
  letter-spacing: 5px;
}

.scroll-indicator {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);

  font-size: 10px;
  letter-spacing: 4px;
  text-transform: uppercase;

  opacity: .8;
}
